In [1]:
import pandas as pd
from sklearn.utils import shuffle

In [7]:
data = pd.read_csv('yorumlar_liste.csv', sep = "\t")

In [8]:
data.head()

   Puan                                              Yorum
0   1.0  Ürün gayet kaliteli ve hızlı elime geçti tavsi...
1   0.6  yuvarlak olanından istemiştim ama dikdörtgen g...
2   0.6  İskender palanin kitapları çok güzel başarılı ...
3   1.0  Bugüne kadar okuduğum kitaplar arasında ilk be...
4   1.0  Satıcı ürünü hemen kargoladı ve hızlıca elime ...

In [6]:
type(data)

pandas.core.frame.DataFrame

In [11]:
data.loc[data['Puan'] > 0.7, 'Puan'] = 1.0

In [14]:
data.loc[data['Puan'] < 0.5, 'Puan'] = 0.0

In [15]:
df_1 = data[data.Puan > 0.9]

In [17]:
df_1.head()

   Puan                                              Yorum
0   1.0  Ürün gayet kaliteli ve hızlı elime geçti tavsi...
3   1.0  Bugüne kadar okuduğum kitaplar arasında ilk be...
4   1.0  Satıcı ürünü hemen kargoladı ve hızlıca elime ...
5   1.0  cümleler çok tekrarlandigi için, oğlum o yerle...
6   1.0  Etkileyici anlatımıyla okuyucuyu romanın içine...

In [18]:
df_0 = data[data.Puan < 0.1]

In [20]:
df_0

       Puan                                              Yorum
9       0.0  herkesin kitap yazmaması gerektiğinin güzel bi...
47      0.0  Aşırı ufak, yılbaşı hediyesi için öğretmenleri...
49      0.0  kitapta bir hikaye basit bir anlatım seviye or...
56      0.0  güzel bir saz bu fiyata bu sazı dışarda bulama...
60      0.0  Beget'i desen dandik,calisma pedi dandik, ayak...
...     ...                                                ...
31159   0.0  guzel fakat fazla uzaktan cekım yapmıyor ev ıc...
31180   0.0  Ben yıllarca oynadım çocuğum da oynasın diyere...
31206   0.0  Monolpoly dijital almıştım. Kargoda kutusu ezi...
31217   0.0  Ford fiesta aracımda kullanmak için aldım hic ...
31235   0.0  Havalandırmak çok zor havalandırdıktan sonra y...

[1981 rows x 2 columns]

In [21]:
df = pd.concat([df_0, df_1], ignore_index = True)

In [22]:
df

       Puan                                              Yorum
0       0.0  herkesin kitap yazmaması gerektiğinin güzel bi...
1       0.0  Aşırı ufak, yılbaşı hediyesi için öğretmenleri...
2       0.0  kitapta bir hikaye basit bir anlatım seviye or...
3       0.0  güzel bir saz bu fiyata bu sazı dışarda bulama...
4       0.0  Beget'i desen dandik,calisma pedi dandik, ayak...
...     ...                                                ...
28978   1.0                   Hızlı gönderim için teşekkürler.
28979   1.0  Olumsuz yorum yapan arkadasları anlamıyorum. B...
28980   1.0          Kaliteli zaman geçirilecek çalışma kitabı
28981   1.0  yapıştırıcı desteği ve eksik parça desteği olm...
28982   1.0  KİTABI ŞUAN OKUYORUM VE BİTİRMEK ÜZEREYİM. SÜR...

[28983 rows x 2 columns]

In [29]:
df = shuffle(df)

In [30]:
df

       Puan                                              Yorum
4396    1.0  Hızlı ve özenli kargo bu fiyata gayet iyi bir ...
14451   1.0                Harika bir kitqp,şiddetle tavsiye??
18469   1.0  Şahane bir plak ! Mermer baskısı o kadar şık o...
26451   1.0  İnanılmaz keyifli bir oyun. Hem heyecan hem ke...
8394    1.0  Alısverışten çok memnun kaldım eksıksız. Ç sor...
...     ...                                                ...
24535   1.0  yer kısıtı olanlar için çok kullanışlı bir ürü...
1111    0.0  içi boş bir kitap her sayfa birbirinden alakas...
24589   1.0                                        uygun fiyat
5473    1.0  Ürün elime ulaştı. Henüz okumadım ama firma ge...
1532    0.0  Klasik Türk filmi. Türkan Şoray ,Ediz Hun aşkı...

[28983 rows x 2 columns]

In [31]:
df.to_csv("yorumlar.csv", sep = "\t", encoding = "utf-8", index = False)